@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a;
  /* Corporate Dark Blue */
  color: #f8fafc;
  font-family: 'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

@layer utilities {
  .bg-corporate-dark {
    background-color: #0f172a;
  }

  .bg-corporate-panel {
    background-color: #1e293b;
  }

  .text-corporate-blue {
    color: #3b82f6;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #334155;
    border-radius: 20px;
  }
}